{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
{% endblock %}

{% include 'navbarAdmin.html' %}

{% block content %}
    <!-- Mensagens Flash -->
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <!-- Seção Principal -->
    <main class="profile-container">
        <h1 class="page-title">Hi {{ user.first_name }}!</h1>
        <div class="profile-content">
            <div class="user-image">
                <img src="{{ url_for('static', filename='assets/' + user.image) }}" alt="{{ user.first_name }}">
            </div>
            <div class="card-info">
                <h2>Account Details</h2>
                <div class="textfield">
                    <label>Name:</label>
                    <span>{{ user.first_name }}</span>
                </div>
                <div class="textfield">
                    <label>Last Name:</label>
                    <span>{{ user.last_name if user.last_name else 'Not set' }}</span>
                </div>
                <div class="textfield">
                    <label>Phone Number:</label>
                    <span>{{ user.phone_number if user.phone_number else 'Not set' }}</span>
                </div>
                <div class="textfield">
                    <label>Address:</label>
                    <span>{{ user.address if user.address else 'Not set' }}</span>
                </div>
                <a href="/edit_profileAdmin" class="btn-edit"><i class="bx bx-edit"></i> Edit Profile</a>
            </div>
        </div>
    </main>
{% endblock %}