{% extends 'base.html' %}

<!-- Load Navbar -->
{% include 'navbar.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/cart.css') }}">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block content %}


<head>
	<title>Cart</title>
	<link rel="stylesheet" href="css/car.css">
</head>
<body>
	{% for message in get_flashed_messages() %}
		<div class="alert alert-success" role="alert">
			{{ message }}
		</div>
	{% endfor %}
	<main>
		<main>
			<div class="page-title">Seu Carrinho</div>
			<div class="content">
			  <section>
				<table>
				  <thead>
					<tr>
					  <th>Produto</th>
					  <th>Preço</th>
					  <th>Quantidade</th>
					  <th>Total</th>
					  <th>-</th>
					</tr>
				  </thead>
				  <tbody>
					  {%for product, quantity in CartItem %}
					  <tr>
					  <td>
						<div class="product">
						  <img width="200" height="200" src="{{url_for('static',filename='assets/'+ product.image)}}" alt="{{product.name}}">
						  <div class="info">
							<div class="name">{{product.name}}</div>
							<div class="category">{{product.category.name}}</div>
						  </div>
						</div>
					  </td>
					  <td>{{product.price}}€</td>
					  <td>
						<form action="/cart/update/{{product.id}}" method="POST">
							{{cartupdate.csrf_token}}
						<div class="qty">
						  <input size="2"class="quantity" value="{{quantity}}" name="quantity">
						  <button class="update"><i class="bx bx-check"></i></button>
						</div>
						</form>
					  </td>
					  <td>{{product.price*quantity}}€</td>
					  <td>
						<form action="/cart/remove/{{product.id}}" method="POST">
							{{cartremove.csrf_token}}
						<button class="remove"><i class="bx bx-x"></i></button>
						</form>
					  </td>
					</tr>
					{%endfor%}
				  </tbody>
				</table>
			  </section>
			  <aside>
				<div class="box">
				  <header>Resumo da compra</header>
				  <div class="info">
					<div><span>Total
					</span>{{total}}€</div>
					<div><span>Portes</span><span>0€</span></div>
				  </div>
				  <footer>
					<span>Total</span>
					<span>€</span>
				  </footer>
				</div>
				<form class="botao" action="/cart/checkout" method="POST">
					{{checkout.csrf_token}}
				<button >Finalizar Compra</button>
				</form>
			  </aside>
			</div>
		  </main>
		</body>
</html>

{%endblock%}


{% block scripts %}
<!-- <script src="{{ url_for('static',filename='js/cart_box.js') }}"></script> -->
{% endblock %}



