{%extends "base.html"%} {%block styles%}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/edit_profile.css')}}"
/>
{%endblock%} {%include 'navbar.html'%} {%block content%}
<body>
  <!-- Field for server messages-->
  {%for message in get_flashed_messages()%}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {%endfor%}

  <div class="container">
    <div class="profile-box">
      <form method="POST">
        {{profile.csrf_token}}
        <div class="right-info">
          <div class="card-info">
            <h2>Edit Your Acount Details</h2>
            <div class="textfield">
              {{profile.first_name.label}}
              {{profile.first_name(class="form-control", value=user.first_name)}}
              {% for error in profile.first_name.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="textfield">
              {{profile.last_name.label}}
              {{profile.last_name(class="form-control", value=user.last_name)}}
              {% for error in profile.last_name.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="textfield">
             {{profile.email.label}}
              {{profile.email(class="form-control", value=user.email)}}
              {% for error in profile.email.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="textfield">
              {{profile.phone_number.label}}
              {{profile.phone_number(class="form-control", value=user.phone_number)}}
              {% for error in profile.phone_number.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="textfield">
              {{profile.address.label}}
              {{profile.address(class="form-control", value=user.address)}}
              {% for error in profile.address.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="textfield">
              {{profile.old_password.label}}
              {{profile.old_password(class="form-control", placeholder="Old Password")}}
              {% for error in profile.old_password.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
          <br />
          <div class="more-info">
            <h2>Change Your Password</h2>
            <div class="textfield">
              {{profile.new_password.label}}
              {{profile.new_password(class="form-control", placeholder="New Password")}}
              {% for error in profile.new_password.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
              <div id="password-strength"></div>
            </div>
            <div class="textfield">
              {{profile.confirm_password.label}}
              {{profile.confirm_password(class="form-control", placeholder="Confirm Password")}}
              {% for error in profile.confirm_password.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
            <button formaction="/edit_profile" class="btn-save">
              Save Changes
          </div>
        </div>
    </div>
        <button formaction="/delete_profile" class="btn-delete">
          Delete Account
      </form>
  </div>
  <script>
    function checkPasswordStrength(password) {
      var hasUpperCase = /[A-Z]/.test(password);
      var hasLowerCase = /[a-z]/.test(password);
      var hasDigit = /\d/.test(password);
      var hasSpecialChar = /[!@#$%^&*()_+{}|:"<>?]/.test(password);

      var strength = 0;

      if (
        password.length >= 12 &&
        hasUpperCase &&
        hasLowerCase &&
        hasDigit &&
        hasSpecialChar
      ) {
        strength = 2; // Strong
      } else if (password.length >= 8 && hasUpperCase && hasLowerCase) {
        strength = 1; // Moderate
      } else {
        strength = 0; // Weak
      }

      displayStrength(strength);
    }

    function displayStrength(strength) {
      var strengthMeter = document.getElementById("password-strength");
      var strengthText;

      if (strength === 0) {
        strengthText = "Weak";
      } else if (strength === 1) {
        strengthText = "Moderate";
      } else if (strength === 2) {
        strengthText = "Strong";
      }

      strengthMeter.textContent = "Password Strength: " + strengthText;
    }
  </script>
</body>
{% endblock %}
