
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class = "botao">
  <button class="btn btn-light btn-lg" onclick="location.href='/'">
    <i class='bx bx-home-alt-2' ></i>Home
  </button>
  </div>
  <button
    id="toggler"
    class="navbar-toggler collapsed"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container nav-cont">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button class="btn btn-light btn-lg" onclick="location.href='/search'">
            <i class='bx bx-search' ></i>Search
          </button>
        <li class="nav-item">
          <button class="btn btn-light btn-lg" aria-current="page" onclick="location.href='/cart'">
            <i class='bx bx-cart-alt' ></i></i> Cart
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-light btn-lg" onclick="location.href='/favorites'">
            <i class='bx bx-star' ></i> Favorites
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-light btn-lg" onclick="location.href='/profile'">
            <i class='bx bx-user'></i>Profile
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-light btn-lg" onclick="location.href='/logout'">
            <i class='bx bx-log-out' ></i>Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid" style="padding-top: 3.5rem;">
</div>