{%extends "base.html"%}
{%include 'navbar.html'%}
    
{%block styles%}
<link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}">
{%endblock%}

<body>
            <!-- Field for server messages-->
            {%for message in get_flashed_messages()%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {%endfor%}    
{%block content%}
    <div class="container">
        <div class="page-title">Hi {{user.username}}</div>
        <div class= "right-info">
        <div class="card-info">
            <h2>Acount Details</h2>
            <div class="textfield">
                <label for="uname"><b>Name: {{user.first_name}}</b></label>
            </div>
            <div class="textfield"> 
                <label for="psw"><b>Last name: {{user.last_name}}</b></label>
            </div>
            <div class="textfield"> 
                <label for="psw"><b>Phone Number: {{user.phone_number}}</b></label>
            </div>
            <div class="textfield"> 
                <label for="psw"><b>Adress: {{user.address}}</b></label>
            </div>
            <label for="NotRegistered">Wrong information?
                <a href="/edit_profile">Edit Profile!</a>
            </label>
        </div>
        <div class="user-image">
            <img height="200" width="200" src="{{url_for('static',filename='assets/'+ user.image)}}" alt="{{user.name}}">
        </div>
    </div>
</body>
{% endblock %}