{% extends 'base.html' %}

<!-- Load Navbar -->
{% include 'navbar.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/QRcode.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{%block content%}

<body>
    <h1>Registration Successful</h1>
    <p>Scan the QR code below with your authenticator app:</p>
    
    <!-- Display the QR code image -->
    <img src="{{ url_for('static', filename='assets/QR.png') }}" alt="QR Code">

    <p>Or enter the following code into your authenticator app:</p>
    <p>2FA Code: {{ key }}</p>


    <a href="{{ url_for('auth.login') }}" class="btn btn-continue">Continue to Login</a>


</body>


{%endblock%}