{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
{% endblock %}

<!-- Load Navbar -->
{% include 'navbar.html' %}

{% block content %}
<body>
    <!-- Field for server messages-->
    {%for message in get_flashed_messages()%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {%endfor%}

    <!-- Pagina Registo -->
    <form action="/register" method="post">
        {{reg.csrf_token}}
        <div class="main">
            <div class="main-login"></div>
            <div class="log">
                <h2>Cria já a tua conta</h2>

                <div class="textfield">
                    {{reg.username.label}}
                    {{reg.username(class="form-control", placeholder="Enter Username")}}
                    {% for error in reg.username.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="textfield">
                    {{reg.email.label}}
                    {{reg.email(class="form-control", placeholder="Enter Email")}}
                    {% for error in reg.email.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="textfield">
                    {{reg.password.label}}
                    {{reg.password(class="form-control", placeholder="Enter Password", onkeyup="checkPasswordStrength(this.value)")}}
                    {% for error in reg.password.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                    <div id="password-strength"></div>
                </div>

                <div class="textfield">
                    {{reg.confirm_password.label}}
                    {{reg.confirm_password(class="form-control", placeholder="Confirm Password")}}
                    {% for error in reg.confirm_password.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>

                <button class="btn-login">Registar</button>
                <label for="NotRegistered">Already Registered?</label>
                <a href="/login">Login</a>
            </div>
        </div>
    </form>

    <script>
        function checkPasswordStrength(password) {
        
        var hasUpperCase = /[A-Z]/.test(password);
        var hasLowerCase = /[a-z]/.test(password);
        var hasDigit = /\d/.test(password);
        var hasSpecialChar = /[!@#$%^&*()_+{}|:"<>?]/.test(password);

        var strength = 0;
        
        if (password.length >= 12 && hasUpperCase && hasLowerCase && hasDigit && hasSpecialChar) {
            strength = 2; // Strong
        } else if (password.length >= 8 && hasUpperCase && hasLowerCase) {
            strength = 1; // Moderate
        } else {
            strength = 0; // Weak
        }

        displayStrength(strength);
    }

        function displayStrength(strength) {
            var strengthMeter = document.getElementById("password-strength");
            var strengthText;

            if (strength === 0) {
                strengthText = "Weak";
            } else if (strength === 1) {
                strengthText = "Moderate";
            } else if (strength === 2){
                strengthText = "Strong";
            }

            strengthMeter.textContent = "Password Strength: " + strengthText;
        }
    </script>
</body>

{% endblock %}
