body {
  background-color: #3b3b3b;
  color: #ffffff;
  text-align: center;
  
}

.nav-link {
  color: grey;
}

.navbar .justify-content-center {
margin-left: auto;
margin-right: auto;
}

.form-control me-2 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
}
.navbar {
  box-shadow: 0 2px 10px 5px #12121270;
  background-color: #121212;
  display: flex;
  justify-content: flex-start;
}

.navbar .navbar-brand img {
  max-height: 37px;
}

.navbar .navbar-nav .nav-item {
  margin-right: 5px;
}

.navbar .navbar-nav .nav-link {
  color: #ffffff;
  font-weight: 400;
  font-size: 80%;
  letter-spacing: 1.5px;
}

.navbar .navbar-nav .nav-link:hover {
  color: #ff3300;
}

.navbar .navbar-nav .nav-link.active {
  color: #ff3300;
}

.navbar .navbar-toggler {
  color: transparent;
  border: 1px solid #121212;
  transition: border 0.2s ease-in-out;
  margin-bottom: 10px;
  order: 2;
}

.navbar .navbar-toggler:hover {
  border: 1px solid #ff3300;
}

/* Style for search bar */
.form-control {
  height: 38px;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.form-control:focus {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.botao button {
  color: #ffffff;
  font-weight: 400;
  font-size: 100%;
  letter-spacing: 1.5px;
  background-color: transparent;
  border: none;
}

.botao button:hover {
  background-color: #f55a00;
}

.navbar .nav-item button {
  color: #ffffff;
  font-weight: 400;
  font-size: 100%;
  letter-spacing: 1.5px;
  background-color: transparent;
  border: none;
}

.navbar .nav-item button:hover {
  color: #f55a00;
}
